$bg-color: #e3dec2;
$element-color: #3f2a14;
$active-link-color: #c0c0c0;
$show-home-image: true;
$home-image: url(/hahmo/img/wilderness_map.jpg);
$background-opacity: 0.8;

@mixin transistio {
  transition: all 1.5s ease-out;
}

@mixin tausta {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-repeat: no-repeat;
      background-size: cover;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($bg-color, $background-opacity);
        z-index: -1;
      }
    }
  }
}

// Tekstin värin säätäminen
@function sopeutaTekstinVari($vari) {
  @if (lightness($vari) > 40) {
    @return #000;
  } @else {
    @return #c0c0c0;
  }
}

//Responsiiviset näkymät

@mixin nakymaS {
  @media screen and(max-width: 500px) {
    @content;
  }
}

@mixin nakymaM {
  @media screen and(max-width: 768px) {
    @content;
  }
}

@mixin nakymaL {
  @media screen and(min-width: 769px) and(max-width: 1170px) {
    @content;
  }
}

@mixin nakymaXL {
  @media screen and(min-width: 1171px) {
    @content;
  }
}
