//Widescreen
@include mediaXL {
}

//Desktop & Laptop
@include mediaL {
  &.skill-container {
    display: grid;
    grid-template-areas:
      "body"
      "heart"
      "wits";
    grid-template-columns: 2fr;
  }

  body {
    overflow-y: visible;
  }

  &.char-attrib {
    grid-template-areas:
      "body"
      "heart"
      "wits";
    grid-template-columns: 2fr;
  }
}

//Tablets & Small Laptops
@include mediaM {
  main {
    align-items: center;
    text-align: center;
  }

  &.skill-container {
    display: grid;
    grid-template-areas:
      "body"
      "heart"
      "wits";
    grid-template-columns: 1fr;
  }

  body {
    overflow-y: visible;
  }

  &.char-attrib {
    grid-template-areas:
      "body"
      "heart"
      "wits";
    grid-template-columns: 1fr;
  }

  .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }

  ul.menu-nav {
    float: none;
    width: 100%;
    min-height: 0;
    transform: matrix3d(-100%, 0, 0);

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .char-info {
    h2 {
      font-size: 18px;
      display: block;
    }
    p {
      display: block;
    }
  }

  .combat {
    display: block;
  }
}

//Smartphones
@include mediaS {
  main#home h1 {
    margin-top: 10vh;
  }
}
